<?xml version="1.0"?>
<config>
    <modules>
        <Ciplex_Cakoshipping>
            <version>0.1.0</version>
        </Ciplex_Cakoshipping>
    </modules>
    <global>
        <helpers>
            <cakoshipping>
                <class>Ciplex_Cakoshipping_Helper</class>
            </cakoshipping>
        </helpers>
        <blocks>
            <cakoshipping>
                <class>Ciplex_Cakoshipping_Block</class>
            </cakoshipping>
        </blocks>
        <models>
            <cakoshipping>
                <class>Ciplex_Cakoshipping_Model</class>
                <resourceModel>cakoshipping_mysql4</resourceModel>
            </cakoshipping>
            <cakoshipping_mysql4>
                <class>Ciplex_Cakoshipping_Model_Mysql4</class>
                <entities>
                    <cshipping>
                        <table>cshipping</table>
                    </cshipping>
                    <shippingrules>
                        <table>cshippingrules</table>
                    </shippingrules>
                    <shippingrulesoptions>
                        <table>cshippingrulesoptions</table>
                    </shippingrulesoptions>
                </entities>
            </cakoshipping_mysql4>
        </models>
        <resources>
            <cakoshipping_setup>
                <setup>
                    <module>Ciplex_Cakoshipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cakoshipping_setup>
            <cakoshipping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cakoshipping_write>
            <cakoshipping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cakoshipping_read>
        </resources>
        <events>
            <catalog_product_load_after>
                <observers>
                    <extra_options>
                        <type>model</type>
                        <class>Ciplex_Cakoshipping_Model_Observer</class>
                        <method>catalogProductLoadAfter</method>
                    </extra_options>
                </observers>
            </catalog_product_load_after>
            <!--
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <extra_options>
                        <type>model</type>
                        <class>Ciplex_Privatesale_Model_Observer</class>
                        <method>salesConvertQuoteItemToOrderItem</method>
                    </extra_options>
                </observers>
            </sales_convert_quote_item_to_order_item>
            -->
        </events>
    </global>
    <admin>
        <routers>
            <cakoshipping>
                <use>admin</use>
                <args>
                    <module>Ciplex_Cakoshipping</module>
                    <frontName>cakoshipping</frontName>
                </args>
            </cakoshipping>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cakoshipping module="cakoshipping">
                <title>Manage Delivery Zipcodes</title>
                <sort_order>100</sort_order>
                <children>
                    <cshipping module="cakoshipping">
                        <title>Manage Delivery Regions and Zipcodes</title>
                        <sort_order>0</sort_order>
                        <action>cakoshipping/adminhtml_cshipping</action>
                    </cshipping>
                    <shippingrules>
                        <title>Manage Shipping Rules</title>
                        <sort_order>1</sort_order>
                        <action>cakoshipping/adminhtml_shippingrules</action>
                    </shippingrules>
                </children>
            </cakoshipping>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <cakoshipping translate="title" module="cakoshipping">
                            <title>Cakoshipping</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <cshipping translate="title">
                                    <title>Manage Cshipping</title>
                                    <sort_order>0</sort_order>
                                </cshipping>
                            </children>
                        </cakoshipping>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <cakoshipping>
                    <file>cakoshipping.xml</file>
                </cakoshipping>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <carriers>
            <proba>
                <active>1</active>
                <model>cakoshipping/carrier_proba</model>
                <name>proba</name>
                <title>pickup</title>
                <description>proba</description>
                <sort_order>0</sort_order>
            </proba>
        </carriers>
    </default>
</config>