<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Ordersuccesspage>
            <version>0.1.1</version>
        </Excellence_Ordersuccesspage>
    </modules>
    <global>
        <blocks>
            <ordersuccesspage>
                <class>Excellence_Ordersuccesspage_Block</class>
            </ordersuccesspage>
            <checkout>
                <rewrite>
                    <onepage_success>Excellence_Ordersuccesspage_Block_Success</onepage_success>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <ordersuccesspage>
                <class>Excellence_Ordersuccesspage_Helper</class>
            </ordersuccesspage>
        </helpers>
        <models>
            <ordersuccesspage>
                <class>Excellence_Ordersuccesspage_Model</class>
                <resourceModel>ordersuccesspage_mysql4</resourceModel>
            </ordersuccesspage>
            <ordersuccesspage_mysql4>
                <class>Excellence_Ordersuccesspage_Model_Mysql4</class>
                <entities>
                    <cartProducts>
                        <table>osp_cartproducts</table>
                    </cartProducts>
                </entities>
            </ordersuccesspage_mysql4>
        </models>
        <resources>
            <ordersuccesspage_setup>
                <setup>
                    <module>Excellence_Ordersuccesspage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordersuccesspage_setup>
            <ordersuccesspage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ordersuccesspage_write>
            <ordersuccesspage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ordersuccesspage_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <ordersuccesspage>
                <use>standard</use>
                <args>
                    <module>Excellence_Ordersuccesspage</module>
                    <frontName>ordersuccesspage</frontName>
                </args>
            </ordersuccesspage>
        </routers>

        <layout>
            <updates>
                <ordersuccesspage>
                    <file>ordersuccesspage.xml</file>
                </ordersuccesspage>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ordersuccesspage>
                <use>admin</use>
                <args>
                    <module>Excellence_Ordersuccesspage</module>
                    <frontName>ordersuccesspage</frontName>
                </args>
            </ordersuccesspage>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ordersuccesspage>
                    <file>ordersuccesspage.xml</file>
                </ordersuccesspage>
            </updates>
        </layout>
        <menu>
            <storelocation>
                <children>
                    <cartproducts module="ordersuccesspage">
                        <title>Cart Products Block</title>
                        <sort_order>55</sort_order>
                        <children>
                            <items module="ordersuccesspage">
                                <title>Manage Products Block</title>
                                <sort_order>10</sort_order>
                                <action>ordersuccesspage/adminhtml_cartProducts</action>
                            </items>
                        </children>
                    </cartproducts>
                </children>
            </storelocation>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <storelocation>
                            <children>
                                <cartproducts module="ordersuccesspage">
                                    <title>Cart Products Block</title>
                                    <sort_order>55</sort_order>
                                    <children>
                                        <items module="ordersuccesspage">
                                            <title>Manage Products Block</title>
                                            <sort_order>10</sort_order>
                                        </items>
                                    </children>
                                </cartproducts>
                            </children>
                        </storelocation>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>


