<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Excellence_ShippingReport>
            <version>0.1.1</version>
        </Excellence_ShippingReport>
    </modules>
    <global>
        <blocks>
            <shipping_report>
                <class>Excellence_ShippingReport_Block</class>
            </shipping_report>
            <adminhtml>
                <rewrite>
                    <report_sales_shipping_grid>Excellence_ShippingReport_Block_Adminhtml_ReportSalesShipping_Grid</report_sales_shipping_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <shipping_report>
                <class>Excellence_ShippingReport_Helper</class>
            </shipping_report>
        </helpers>
        <models>
            <shipping_report>
                <class>Excellence_ShippingReport_Model</class>
                <resourceModel>shipping_report_resource</resourceModel>
            </shipping_report>
            <shipping_report_resource>
                <class>Excellence_ShippingReport_Model_Resource</class>
                <entities>
                    <aggregate_adjusted>
                        <table>sales_shipping_aggregated_adjusted</table>
                    </aggregate_adjusted>
                </entities>
            </shipping_report_resource>
            <sales_resource>
                <rewrite>
                    <report_shipping>Excellence_ShippingReport_Model_SalesResourceReport_Shipping</report_shipping>
                </rewrite>
            </sales_resource>
        </models>
        <resources>
            <shipping_report_setup>
                <setup>
                    <module>Excellence_ShippingReport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shipping_report_setup>
            <shipping_report_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shipping_report_write>
            <shipping_report_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shipping_report_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <shipping_report>
                    <file>shipping_report.xml</file>
                </shipping_report>
            </updates>
        </layout>
    </adminhtml>
</config>